:root {
  --offwhite: #cbbab2;
  --lightpurple: #bbaefc;
  --purple: #9a85c8;
  --darkpurple: #462d7e;
  --lightgreen: #5f8d44;
  --midgreen: #195325;
  --green: #1c2a13;
  --black: #010101;
}

html,
body {
  min-height: 100%;
}



html {
  background-color: var(--black);
  scroll-behavior: smooth;
  font-family: "Bricolage Grotesque", "Helvetica", "Lato", sans-serif;
  font-weight: 300;
  color: var(--offwhite);

}

body {
  max-width: 1920px;

  padding: 0;
  margin: 0 auto;
}

hr {
  border-top: 1px solid var(--midgreen);
  border-bottom: 1px solid var(--purple);
}

.exhibition-title {
  position: absolute;
  top: 45vh;
  left: 40%;
  font-size: 4em;
  font-weight: 900;
  font-family: Rubik-Glitch;
}

nav {
  position: absolute;
  width: 100%;

}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  gap: 1em;
}

#content {
  display: flex;
  justify-content: center;

}

.text p {
  font-size: 1.4rem;
  line-height: 1.5;
  font-family: "Libre Franklin", "Helvetica", "Lato", sans-serif;
}

p.artist-name {
  font-size: 1.7rem;
  margin-top: -1em;
  font-weight: bolder;
}

p.medium-date {
  font-size: 1rem;
  margin-top: -1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h1,
h2,
h3 {
  font-weight: 700;
}


h1 {
  font-size: 2.7rem;

}

#proj-page body {
  background-color: var(--green);
}

html#about-page {
  background-image: linear-gradient(var(--lightpurple) 0%, var(--purple) 50%, var(--green) 100%, var(--black) 110%);
  background-attachment: fixed;
  color: var(--green)
}

#about-page a {
  color: var(--midgreen)
}


.project-container .text {
  font-weight: 200;
  color: var(--offwhite)
}

.text {
  max-width: 800px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.curatorial-statement-container {
  max-width: 90vw;
  padding-bottom: 18%;
  padding-top: 3em;
}

.project-container {
  max-width: 90vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 4em;
  box-sizing: border-box;
}

svg {
  display: block;
  position: relative;
  /* width: 640px;
  height: 300px; */
  margin: 0 auto;
  overflow: hidden;
  background-size: cover;
}

.proj-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: var(--yellow);
}

.proj-container img {
  max-width: 100%;
  max-height: 100vh;
}

#title-container {
  background-color: #010101;
  background-image: url("images/beyond-us-key.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  z-index: -100;
}


a.back-to-home-link {
  z-index: 50;
}


@media only screen and (max-width: 700px) {
  body .cursor {
    display: "none";
  }

  .title-container {
    flex-direction: column;
    align-items: end;
    gap: 2em;
  }

  .title-container>a>img {
    width: 70vw;
  }

  span.curatorial {
    top: 65%;
  }

  .section>img {
    max-width: 90vw;
  }

  .circle {
    width: 60px;
    height: 60px;
  }
}


a {
  color: var(--purple);
  text-decoration: dashed;
}

.nav-link,
.back-to-home,
.view-link {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 600;
}

.view-link {
  padding-top: 2em;
}


.view-link::after {
  content: "\2B63";
  display: flex;
  justify-content: center;
  margin: 0.4em;
  font-size: 2em;
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

.curatorial-text h1 {
  font-weight: 300;
}

body .cursor {
  pointer-events: none;
}

.back-to-home {
  margin: 2em;
}

.back-to-home-link::before {
  content: "\2B60";
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.vid-container iframe {
  height: 85vh;
  width: 74vw;
  margin-bottom: 5vh;

}


.vid-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  transition: 0.3s;
  padding: 2em 0 6em 0;
  z-index: 5;
}

body .cursor {
  display: none;
}

body .cursor-hide {
  z-index: 2;
}

.playbutton {
  width: 75vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playbutton-icon {
  width: 0;
  height: 0;
  border-style: solid;
  opacity: 1;
  transition: 0.6s;
  cursor: pointer;
  border-width: 6vw 0 6vw 14vw;
  border-color: transparent transparent transparent var(--purple);
}

.playbutton-icon:hover {
  border-width: 5.5vw 0 5.5vw 13vw;
  border-color: transparent transparent transparent var(--lightpurple);
}

#containerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.6s;
  opacity: 0.6;
}

#containerOverlay:hover {
  opacity: 1;

}

#containerOverlay.external-proj {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lightpurple);
  letter-spacing: 0.05em;
  transition: 0.5s;
  background-color: transparent;
  background-size: cover;
  text-align: center;
  border-radius: 50%;
}

.p5-link-wrapper {
  position: relative;
  height: 90vh;
  width: 100vw;
}

#containerOverlay>div {
  background: var(--green);
  opacity: 0.9;
  padding: 8em 2em;
  border-radius: 50%;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.show {
  opacity: 1;
}



@media screen and (max-width: 1000px) {

  .circle-container {
    margin-top: 100vh;
  }

  .plane-wrapper {
    width: 100%;
    padding: 0;
  }

  .proj-text-container {
    flex-direction: column;
    margin: 0;
    margin-bottom: 2em;
  }

  .view-proj {
    margin: 0;
  }

  .vid-container {
    justify-content: center;
  }

  .vid-container iframe {
    width: 90vw;
    height: 55vh;
  }
}



/*circles on homepage*/
#title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


@-webkit-keyframes circle {
  from {
    -webkit-transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(360deg)
  }
}

@-webkit-keyframes ccircle {
  from {
    -webkit-transform: rotate(360deg)
  }

  to {
    -webkit-transform: rotate(0deg)
  }
}

.circle-container {
  position: relative;
  /* 1 */

  padding: 0;
  border-radius: 50%;
  list-style: none;
  /* 2 */
  box-sizing: content-box;
  /* 3 */
  margin: 0 auto;

}

.circle-container>* {
  position: relative;
  display: block;
  top: auto;
  left: auto;
  margin: auto;
}

@-webkit-keyframes glow {
  20% {

    transform: scale(0.93);
  }

  60% {

    transform: scale(1);


  }

  80% {

    transform: scale(0.95);


  }
}

.circle-container .work-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 15em;
  height: 15em;


}

.circle-container .work-container::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(var(--lightpurple) 10%, transparent 70%);
  transition: background 2s, box-shadow 2s;
  opacity: 1;
  transition: opacity 1s;
}


.circle-container .work-container:hover::before {
  opacity: 0;
}


.circle-container .work-container:hover {
  background-size: cover;

  background-position: center;
  box-shadow: 0 0 1.5em 1.5em var(--green) inset;
}

.circle-container .work-shortie:hover {
  background-size: 220%;
  background-image: url(images/shortie-key.png);
}

.circle-container .work-rivers:hover {
  background-image: url(images/rivers-key.png);
  box-shadow: 0 0 1.5em 1.5em var(--green) inset, 0 0 2em 7em #ffffff45 inset;

}

.circle-container .work-see:hover {
  background-image: url(images/see-key.png);
}

.circle-container .work-rven:hover {
  background-image: url(images/rven-key.png);
  box-shadow: 0 0 1.5em 1.5em var(--green) inset, 0 0 2em 7em #ffffff45 inset;

}

.circle-container .work-ghost:hover {
  background-image: url(images/ghost-key.png);
}

.circle-container a {
  color: inherit;
}

.work-title {
  text-align: center;
  color: var(--green);
  z-index: 99999999;
}

.work-title.light-title {
  color: var(--offwhite);
}

.work-title h3,
.work-title p {
  margin: 0;

}

.instructions {
  display: none;
}

@media (prefers-reduced-motion: no-preference) and (min-width: 600px) {
  .work-container {
    -webkit-animation: ccircle 80s infinite linear;

  }

  .circle-container {
    -webkit-animation: circle 80s infinite linear;
  }

  .paused {
    animation-play-state: paused;
  }

  .circle-container.paused>*>.work-container {
    animation-play-state: paused;
  }

  .circle-container .work-container:nth-of-type(1)::before {
    -webkit-animation: glow 7s infinite linear;
  }

  .circle-container .work-container:nth-of-type(2)::before {
    -webkit-animation: glow 9s infinite linear;
  }

  .circle-container .work-container:nth-of-type(3)::before {
    -webkit-animation: glow 11s infinite linear;
  }

  .circle-container .work-container:nth-of-type(4)::before {
    -webkit-animation: glow 7s infinite linear;
    -webkit-animation-delay: 1s;

  }

  .circle-container .work-container:nth-of-type(5)::before {
    -webkit-animation: glow 9s infinite linear;
    -webkit-animation-delay: 1s;
  }
}


@media only screen and (min-width: 600px) {
  body .cursor {
    display: block;
  }

  body .cursor__ball {
    position: fixed;
    margin-left: -4em;
    margin-top: -4em;
    filter: blur(40px);
    top: 0;
    left: 0;
    mix-blend-mode: screen;
    z-index: 1000;
    backdrop-filter: blur(10px);
  }

  body .cursor__ball circle {
    fill: var(--purple);
  }

  #title-container {
    height: 100vh;
  }

  .nav-container {
    gap: 0;
  }

  .circle-container {
    width: 40em;
    height: 40em;
  }

  .circle-container>* {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7.5em;

  }

  #title-container {
    background-size: 50%;
    overflow-y: hidden;
  }

  .circle-container> :nth-of-type(1) {
    transform: rotate(0deg) translate(18em) rotate(0deg);
  }

  .circle-container> :nth-of-type(2) {
    transform: rotate(72deg) translate(18em) rotate(-72deg);
  }

  .circle-container> :nth-of-type(3) {
    transform: rotate(144deg) translate(18em) rotate(-144deg);
  }

  .circle-container> :nth-of-type(4) {
    transform: rotate(216deg) translate(18em) rotate(-216deg);
  }

  .circle-container> :nth-of-type(5) {
    transform: rotate(288deg) translate(18em) rotate(-288deg);
  }


  .work-title {
    display: none;
  }

  .work-container:hover>.work-title {
    display: block;
  }

  .instructions {
    display: block;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    color: var(--lightgreen);
    letter-spacing: 0.05em;
    font-size: 0.9em;
    cursor: default;
  }

  .instructions::before {
    content: "\1F854";
    padding: 0.5em;
  }

  .curatorial-statement-container {
    margin: 0 10%;
  }

  .project-container.two-column {
    display: flex;
    flex-direction: row;
  }

}

@media screen and (max-width: 600px) {
  #title-container {
    background-position: top;
  }

  .circle-container {
    margin-top: 100vw;
  }

  .work-title {
    color: var(--green) !important;
  }
}